.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-image: url('background2.jpg');
}

img{
  width: 40%;
  height: 40%;
  object-fit: cover;
}

.profile{
  width: 10%;
  height: 10%;
  object-fit: cover;
  float: right;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 10px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
}

.container {
  text-align: center;
}

ul li:hover {
  background-color: #92E37C;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.top-navbar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 60px;
}

.logo-left,
.logo-right {
  margin: 0 10px;
}

.logo-middle {
  display: flex;
  align-items: center;
}

.logo-middle img {
  margin-right: 5px;
}

.logo-middle h1 {
  font-size: 20px;
  margin: 0;
}

.bottom-navbar {
  background-color:white;
  padding: 10px;
  height: 60px;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.widget {
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.page-transition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #92E37C;
  animation: fade-in-out 0.5s ease-in-out both;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
